* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--font-color--white);
}

:root {
    --bg: radial-gradient(1200px 800px at 80% -10%, rgba(124, 92, 255, .15), transparent), radial-gradient(1000px 600px at 10% 10%, rgba(64, 211, 255, .12), transparent), #0b1020;
    --font-color--white:#fff;
    --font-color--h: #aaa9a9;
    --nav-color:#0b1020;
    --bg-btn: linear-gradient(#4e4d9e, #52a5f3 );
    --cards-main: rgba(121, 116, 141, 0.068);
}

body {
    background: var(--bg);

    color: var(--font-color--white);

    font-family: "Noto sans";

}



header {
    background: var(--nav-color);

    position: sticky;
    
    
}

.navbar {
    
      
}

.navbar .navbar-menu a p:hover {
    transition: ease-in 0.3s;

    color: var(--font-color--white);
}

/* Герой, основной блок */

.grid .card .card-header {
    background: #3d3c7a;

    border: 1px solid #5553a8;
}

.circles {
    display: flex;

    align-items: center;

    gap: 5px;
    margin-bottom: 15px;
    

}

.grid .card2 {
    background: linear-gradient(rgba(64, 211, 255, .12),  rgba(124, 92, 255, .15) );
}

.grid .card2 .card-main {
    background: var(--nav-color);

    padding: 10px 10px 170px;
    margin: 10px; 
}

.card-main span {
    color: #706ed1;
}

.hero-btn {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 30px;
}

.hero-btn--color {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 15px;
}

.hero-btn--color #green {
    background: #2a4b2e;

    border: 1px solid #6d8a71;

    align-items: center;

    font-size: 12px;

    color: #e9f7ea;
    
}


.hero-btn--color #red {
    background: #4b2a2a;

    border: 1px solid #816d6d;

    font-size: 12px;

    color: #e4c6c6;
}

/* hero cards */

.cards-header {

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 15px;

    margin-top: 25px;
}

.cards .cards-main {
    background: var(--cards-main);

    padding: 15px;
}

.cards2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 15px;

    margin-top: 100px;
}

.cards2 .cards2-main {
    background: var(--cards-main);

    text-align: center;

    padding: 20px;

}

/* Pricing cards */

.pricing-header {
    
}

.pricing-cards{
    display: grid;

    grid-template-columns: repeat(3,1fr);

    gap: 15px;
}

.container-big .pricing-cards .pricing-main {

    flex-direction: column;

    padding: 10px 0 0 0 ;

}

.container-big .pricing-cards .pricing-main:has( a:hover), a:hover {
    border: 1px #5553a8 solid;
}

.container-big .pricing-cards a:hover {

    background: var(--bg-btn) ;

    color: var(--nav-color);
    
}

.container-big .pricing-cards .pricing-main a{
    display: block;

    width: 100%;

    text-align: center;

    padding: 15px;

    font-weight: 600;
}

.container-big .pricing-cards .pricing-main h3 , h1 , ul {
    align-self: start;
    
    margin-left: 30px;
}

.container-big .pricing-cards .pricing-main li {
    margin-left: 15px;
}

/* News карточки */

.news-cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;

    
}

.news-cards .news-main {
    flex-direction: column;

    align-items: start;

    justify-content: start;

    padding: 10px;
}


.news-cards .news-main a {
    width: 90%;
    
    text-align: center;

    align-self: center;
       
}

.news-cards .news-main p:nth-child(4) {
    min-height: 50px;
}

.news-cards .news-main h3 {
    margin-top: 40px;
}

/* form */

.form {
    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 20px;
}

.form .form-card {
    padding: 20px;

    background: var(--cards-main);
}

.form p:nth-child(2) , ul , h2 , h3 {
    margin-top: 40px;
}


/* Utility селекторы */

    .circle {
      width: 15px;
      height: 15px;
      background-color: blue; /* Пример цвета */
      border-radius: 50%;
    }

    .btn {
        
       border: 1px solid rgba(124, 92, 255, .15);
       border-radius: 10px;

       padding: 15px 15px; 

    }

    .btn-blue {
        background: var(--bg-btn) ;

    }

    .flex {
        display: flex;

        justify-content: space-between;
        align-items: center;

        gap: 10px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .margin-top {
        margin-top: 100px;
    }

    .margin-top--sm {
        margin-top: 20px;
    }

    .container-nav {
        border: 2px solid var(--bg);
        
        padding: 10px 0;
        

    }

    .container {
        border: 2px solid rgba(124, 92, 255, .15);
        border-radius: 10px;
        padding: 5px;
    }

    .container-big {
        

        max-width: 1200px;

        justify-self: center;
        
    }




/* Шрифты */

.text-xxl {
    font-size: 46px;
}

.text-xl {
    font-size: 36px;
}

.text-md {
    font-size: 16px;
    font-weight: 600;
    
}

.text-sm--h {
    font-size: 16px;
    font-weight: 500;
    color: var(--font-color--h);
} 

.text-sm--p {
    font-size: 12px;
    font-weight: 400;
}

.text-black {
     color: black;
}